.news{
  width :100%;
  max-width: 800px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.news ul li{
  list-style: none;
}

.newsDate {
  display: block;
  float:left;
  width: 12rem;
  text-align: center;
}

.newsTitle {
  display: block;
  float:right;
  width:100%;
  margin-left: -13rem;
  padding-left: 13rem;
}

.newsTitle a{
  text-decoration: none;
  transition: 10s;
  color: #333
}
